%h1 Listing schedule_items

%table
  %thead
    %tr
      %th Date
      %th Transfer available from
      %th Transfer available to
      %th Request available from
      %th Request available to
      %th Transfer availablity
      %th Request availablity

  %tbody
    - @schedule_items.each do |schedule_item|
      %tr
        %td= schedule_item.date
        %td= schedule_item.transfer_available_from
        %td= schedule_item.transfer_available_to
        %td= schedule_item.request_available_from
        %td= schedule_item.request_available_to
        %td= schedule_item.transfer_availablity
        %td= schedule_item.request_availablity   
